<div class="row">
	<div class="col-md-4">
	 <h3 class="article-title">HELLO WORLD</h3>
	 	<div class="grid__img">
	 		<img src="./img/profile.jpg" class="tilt-effect" alt="The image" data-tilt-options='{ "extraImgs" : 4, "opacity" : 0.5, "movement": { "perspective" : 500, "translateX" : -15, "translateY" : -15, "translateZ" : 20, "rotateX" : 15, "rotateY" : 15 } }'>
	 	</div>
	 <!-- 	<img class="img-responsive" src="./img/profile.jpg"> -->
	</div>
	<div class="col-md-4">
	 <h3 class="article-title">ABOUT ME</h3>
	 <p>I am a full-stack web developer located in San Francisco, CA. I enjoy the creative process behind building applications, especially implementing technologies to improve daily lives. I have built full-stack applications utilizing MEAN and Ruby on Rails. I love learning about the latest technologies and is actively searching to grow with a team of professional and passionate developers.
	  </p>
	</div>				
	<div class="col-md-4">
	<h3 class="article-title">SKILL SETS</h3>
	<p>  <b>Languages:</b> HTML 5, CSS3, JavaScript, Ruby
	<br> <b>Platforms & Frameworks:</b> Node, Express, Rails, Angular, JQuery, Bootstrap, Ionic
    <br> <b>Database Tools:</b> MongoDB, Mongoose, SQL, PostgreSQL, Firebase, ActiveRecord
	<br> <b>Other:</b> Git/GitHub, Heroku, API, AJAX, JSON, BCrypt, Bower, Photoshop, Illustrator

	<!-- <p>I attended University of California, Davis, obtained B.A. in Economics and Psychology. After completing my bachelors, I attended Santa Clara University for Certificate of Advanced Accounting Proficiency to be eligible for the CPA. I attended General Assembly's Web Development Immersive Program in September of 2015 and freshly graduated in December.
	</p> -->
	</div>
</div>

