<!doctype html> 
<html>
<!-- include head partial form ./views/_head.ejs --> 
<!-- this has all of our style and client-side script tags --> 
<% include ./_header %> 

<body> 
	<div class="container">
		<div class="col-md-2 col-sm-6">
			<title>HELLO</title>
		</div>
		<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
		<div class="col-md-5 col-sm-6">
			<title>HELLO</title>
		</div>

		<div class="col-md-4 col-sm-6">
			<title>HELLO</title>
		</div>
	</div>
</body>

<% include ./_footer %>
</html> 