<!doctype html> 
<html>
<!-- include head partial form ./views/_head.ejs --> 
<!-- this has all of our style and client-side script tags --> 
<% include ./header %> 

<body> 
	<div class="container">
	  <input type="checkbox" id="chat-toggle">

		<div class="page-wrap">
			<div class="page-content">
					<div class="jumbotron">

					
						<h1 class="article-title">RØY</h1>
					
					
						<h1 class="article-title">CHANG</h1>
					
					
						<h1 class="article-title">DEVELØPER</h1>
					
					</div>
					<% include ./about %>

					<div class="row">
					<div class="col-md-4">
					 <h3 class="article-title">EDUCATION<h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat nunc in nibh feugiat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. In lacinia sodales commodo. Nam lorem enim, facilisis ut iaculis ac, mattis non diam.
					 </p>
					</div>
					<div class="col-md-4">
					<h3 class="article-title">WORK EXPERIENCE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat nunc in nibh feugiat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. In lacinia sodales commodo. Nam lorem enim, facilisis ut iaculis ac, mattis non diam.
					</p>
					
					</div>
					<% include ./social %>
				
				<% include ./chat-sidebar %>
			</div>
		</div>
	</div>
	<% include ./nav %>


</body>

<% include ./footer %>
</html> 