	<div id="fl_menu">
	    <div class="label">MENU</div>
	    <div class="menu">
	        <a href="#" class="menu_item">An menu item</a>
	        <a href="#" class="menu_item">A long menu item</a>
	        <a href="#" class="menu_item">Item 3</a>
	        <a href="#" class="menu_item">Another one</a>
	        <a href="#" class="menu_item">A really, really long menu item</a>
	        <a href="#" class="menu_item">Menu item 6</a>
	        <a href="#" class="menu_item">And one more</a>
	        <a href="#" class="menu_item">A tiny</a>

	        <a href="#signup-modal" data-toggle="modal" class="menu_item">Sign Up </a>
            <a href="#login-modal" data-toggle="modal" class="menu_item">Login</a>
            <a href="#chat-modal" data-toggle="modal" class="menu_item">Chat</a>
	    </div>
		</div>
	</div>

	

	<nav class="nav">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>
  <a href="#" class="menu-item">
    <span class="glyphicon glyphicon-home"></i>
  </a>
  <a href="#" class="menu-item">
    <span class="glyphicon glyphicon-envelope"></i>
  </a>
  <a class="menu-item">
  <label for="sidebar-toggle" class="toggle"><span class="glyphicon glyphicon-comment"></i></label>
  </a>
  <a href="#" class="menu-item">
    <span class="glyphicon glyphicon-user"></i>
  </a>
</nav>

