<div class="col-md-4">
	<h3 class="article-title">INSTAGRAM</h3>
	 <div class='instagram-gallery'></div>
<div class="row">
	<div class="col-md-12">
	<h3 class="article-title">TWITTER</h3>
	<p> BLAH BLAH BLAH</p>
	</div>
</div>