body{
	margin:0px; 
	padding:0px;
	/*background-color: #fff;*/
	background-color: #f5f5f5;
	color: #454545;
	}

.navbar {
   background-color: transparent;
   border-color: transparent;
   color: #000;
   font-family: 'Helvetica', sans-serif; 
   font-size: 20px;
   position: fixed;
   z-index: 10000;
   top: 0;
   width: 100%
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
canvas{
  float: left;
  display:block;
  vertical-align:bottom;
}


media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-md-12; }
}

.modal-dialog{
position: absolute;
left: 0%;
margin-left: 100px;
/*height: 500px;*/
top: 50%;
margin-top: -200px;
/*-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-box-shadow: 5px 5px 0 0 #107f6a;
-webkit-box-shadow: 5px 5px 0 0 #107f6a;
box-shadow: 5px 5px 0 0 #107f6a;*/
-moz-animation: move 1s 1;
-webkit-animation: move 1s 1;
animation: move 1s 1;
} 

@-moz-keyframes move {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.container {
	margin-top: 100px;
}

.caret {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000000;
}

.modal-header {
	border-color: transparent;
}

#fl_menu{
	position:absolute; 
	top:60px; 
	left:20px; 
	z-index:9999; 
	width:200px; 
	height:50px;
}
#fl_menu .label{
	padding-left:20px; 
	line-height:50px; 
	font-family: 'Helvetica', sans-serif; 
	font-size:20px; 
	font-weight:200; 
	background:#000; 
	color:#fff; 
	letter-spacing:7px;
    border-radius:0px/50%;
}
#fl_menu .menu{
	display:none;
}
#fl_menu .menu .menu_item{
	display:block; 
	background:#000; 
	color:#bbb; 
	border-top:1px solid #333; 
	padding:10px 20px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	text-decoration:none;
}
#fl_menu .menu a.menu_item:hover{
	background:#333; 
	color:#fff;
}


.menu {
  background: rgba(255, 255, 255, 0.0);
}

.menu-item, 
.menu-open-button {
  background: #000;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin-left: -55px;
  position: fixed;
  top: 75%;
  color: white;
  text-align: center;
  line-height: 3.5em;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 300ms;
          transition: transform ease-out 300ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 4px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 300ms;
          transition: transform 300ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.nav {
  position: fixed;
  left: 95%;
  margin-left: 0;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: linear-gradient(135deg, #000, #000);
  color: #ff4081;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
          transform: scale(1.0, 1.0) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(0.75, 0.75) translate3d(0, 0, 0);
          transform: scale(0.75, 0.75) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transform: translate3d(0, -75px, 0);
          transform: translate3d(0, -75px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate3d(0, -225px, 0);
          transform: translate3d(0, -225px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, -300px, 0);
          transform: translate3d(0, -300px, 0);
}





li {
    list-style-type: none;
}


/* Login Page */

/*.modal-body-chat {
	width: 100%;
	height: 300px;
}*/

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -150px;
  position: absolute;
  margin-left: 10px;
  text-align: center;
  top: 100%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: #000;
  border: none;
  margin-right: 200px;
  border-bottom: 2px solid #fff;
  outline: none;
 /* padding-bottom: 15px;*/
  text-align: center;
  width: 400px;
  height: 40px;
}

.login.page .title {
  width: 400px;
  margin-top: 100px;
  background-color: #000;
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
